modules = ["nodejs-20", "web"]
run = "cd web && npm run dev"

[nix]
channel = "stable-25_05"
packages = ["nmh"]

[deployment]
run = ["zsh", "-c", "cd web && npm run dev"]

[[ports]]
localPort = 3000
externalPort = 80
